.pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pageContainer div{
    font-size: 4rem;
    color:black;
    padding: 20px;
    margin: 10px;
    font-weight: 700;
}

.pageContainer div::after{
   content: '🔥';
}