

  @media screen and (max-width: 500px) {
    
    .headerVisible ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
    }

    .ourWork{
      display: none;
    }
  }